:root {
    /* --brown: #984238; */
}

* {
    --brown: #984238;
}

.container {
    height: 700px;
    /* overflow-y: auto; */
    border: 1px solid red;
    background-color: yellow;
    display: grid;
    grid-template-columns: 100px 100px 200px;
    grid-template-rows: 250px 400px;
    /* 
    grid-template-areas:
        "hd hd hd hd hd hd hd hd "
        "side side side main main main main main"
        "ft ft ft ft ft ft ft ft"; */

    grid-template-columns: 200px 400px;
    grid-template-rows: 80px 500px 30px;

    grid-template-areas: "hd hd"
        "side main"
        "ft ft";
}

.circle {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background: conic-gradient(from 0deg, red, orange, yellow, green, blue, indigo, violet);
}


.box {
    border: 1px solid green;
    /* --brown: #984238; */
    background-color: var(--brown);

}

#header {
    grid-area: hd;
}

#footer {
    grid-area: ft;
}

#sidebar {
    grid-area: side;
}

#content {
    grid-area: main;
}